[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/tinyxml2"]
	path = third_party/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "third_party/gumbo/gumbo"]
	path = third_party/gumbo/gumbo
	url = https://github.com/google/gumbo-parser.git
